<footer id="contact" class="container">
  <h1>Contact</h1>
  <hr>
  <div class="row">
    <a href="https://github.com/psrikanth88" target="_blank">
      <i class="fa fa-github fa-5x"></i>
    </a>
    <a href="">
      <i class="fa fa-google-plus-square fa-5x"></i>
    </a>
    <a href="mailto:srikanth.iit@gmail.com?Subject=Hi%20Srikanth" data-toggle="tooltip" data-placement="bottom" title="srikanth.iit@gmail.com">
      <i class="fa fa-paper-plane-o fa-5x"></i>
    </a>
  </div>
  <hr>
</footer>
